{% layout none %}
{% paginate search.results by 250 %}
    <ul class="grid product-grid">
        {%- for item in search.results -%}
            {%- if item.object_type == 'product' -%}
                <li class="grid__item">
                    {% render 'ss-card-product',
                        card_product: item,
                        media_aspect_ratio: 'adapt',
                        image_shape: 'default',
                        show_secondary_image: false,
                        show_vendor: false,
                        show_rating: false,
                        lazy_load: lazy_load
                    %}
                </li>
            {%- endif -%} 
        {%- endfor -%}
    </ul>
{% endpaginate %}